In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [3]:
df2 = df[0]

In [4]:
df2

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [5]:
# Remove rows where 'Borough' = 'Not assigned'
df2 = df2[df2['Borough'] != 'Not assigned']

In [6]:
df2.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:
# Neighbourhood = Borough if a cell has a Borough but a 'Not assigned' Neighbourhood
for (k, row) in df2.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        borough = row['Borough']
        row['Neighbourhood'] = borough

In [8]:
df2.shape

(103, 3)

# Geographical Coordinates for each Neighbourhoods

In [9]:
geo_code = pd.read_csv('https://cocl.us/Geospatial_data')
geo_code.columns = ['Postal Code', 'Latitude', 'Longitude']   # change PostalCode to match data above for merging

In [10]:
geo_code.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
df1 = pd.merge(df2, geo_code, on = 'Postal Code')
df1.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [12]:
df1.shape

(103, 5)